/* Algemeen menu-styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--quaternary-color);
  position: fixed; /* Zorgt ervoor dat het menu bovenaan blijft */
  top: 0;
  width: 100%; /* Menu vult de breedte van het scherm */
  z-index: 1000; /* Zorgt ervoor dat het menu altijd boven andere elementen blijft */
}

/* Standaard styling van menu-items */
li {
  float: left;
}

/* Links en dropbtn styling */
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Hover-effect voor menu-items en de dropdown-knop */
li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

/* Dropdown-styling */
li.dropdown {
  display: inline-block;
  position: relative; /* Voor correcte positionering van de dropdown-content */
}

/* Verbergen van dropdown-content standaard */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--quaternary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0; /* Uitlijning dropdown onder het item */
}

/* Styling van links in de dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hover-effect voor links in de dropdown */
.dropdown-content a:hover {
  background-color: #111;
}

/* Zichtbaar maken van dropdown-content bij hover */
.dropdown:hover .dropdown-content {
  display: block;
}
