

body {
    background-color: blanchedalmond;
  }
  
          body {margin:0;}
          .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  text-align:left;
}




.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: rgb(112, 103, 103);
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
footer {
  background-color: cornflowerblue;
  color: #000000;
  padding: 15px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}



